<app-banner></app-banner>
<nav class="relative w-full p-6 bg-gray-800 font-mono">
    <div class="flex items-center justify-between">
        <div class="text-white object-scale-down h-12 w-28 hover:cursor-pointer" (click)="navigateToHome()">
            <img src="../../assets/rrrlogo.png" alt="">
        </div>
        <div class="space-x-24 mr-96 text-white text-xl">
            <a class="hover:text-yellow-500 hover:cursor-pointer" (click)="navigateToHome()">Home</a>                
            <a class="hover:text-yellow-500 hover:cursor-pointer" (click)="navigateToProduct()">Products</a>                
            <a class="hover:text-yellow-500 hover:cursor-pointer" (click)="navigateToAboutUs()">About Us</a>                
        </div>
        <div class="flex justify-between space-x-5 text-white">
            <div class="p-3 px-6 pt-2 bg-purple-500 
            rounded-full font-sans text-xl hover:bg-purple-700 hover:cursor-pointer" (click)="navigateToLogin()">
                <button class="flex items-center">
                    <p class="mr-1">
                        Login
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w- h-6 mt-1  ">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
                    </svg>
                </button>
            </div>
            <div class="mt-0.5 h-10 w-10 hover:cursor-pointer" (click)="navigateToCart()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                </svg>
            </div>

        </div>
    </div>

</nav>