<footer class="p-4 bg-ipRed-200 shadow h-82 mt-24">
    <div class="flex items-center justify-between">
        <div class="pt-16 pl-16">
            <a href="" class="flex items-center">
                <img src="../../assets/rrrlogo.png" class="h-20" alt="Flowbite Logo" />
            </a>
        </div>
        <ul class="flex flex-wrap items-center font-mono mb-6 text-lg text-gray-500 sm:mb-0 dark:text-gray-400">
            <li>
                <a href="#" class="mr-4 hover:underline text-ipBaige ">About</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline text-ipBaige">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline text-ipBaige ">Licensing</a>
            </li>
            <li>
                <a href="#" class="hover:underline text-ipBaige">Contact</a>
            </li>
        </ul>
    </div>
    <div class="mt-24 font-mono ">
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block mt- text-sm text-ipBaige sm:text-center dark:text-gray-400">© 2022 <a href="" class="hover:underline">Triple R Games™</a>. All Rights Reserved.
        </span>
    </div>
</footer>