<div class="flex justify-center mt-12 drop-shadow-xl">
    <div class="h-128 w-128 bg-gradient-to-tr from-ipRed-200 to-ipRed-100 rounded-xl">
        <h1 class="flex justify-center text-white text-3xl mt-12">Welcome To</h1>
        <div class="text-white w-full flex justify-center items-center">
            <img class="object-scale-down h-20" src="../../assets/rrrlogo.png" alt="">
        </div>
        <form class="flex justify-center items-center">
            <div class="mt-12">
                <div class="inputField">
                    <label class="label">Username</label>
                    <input class="editInput" placeholder="Username" type="name" name="productName">
                </div>
                <div class="inputField">
                    <label class="label">Password</label>
                    <input class="editInput" placeholder="••••••••••••" type="password" name="productPrice">
                </div>
                <div class="submitButton">
                    <button type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>