<div  class="flex justify-center space-x-12 mt-5" >
    <div class="rounded-lg shadow-xl bg-white max-w-sm" *ngFor="let item of productList">
        <a href="#!">
          <img class="rounded-t-lg" src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" alt=""/>
        </a>
        <div class="p-6">
          <h5 class="text-gray-900 text-3xl font-medium mb-5"> {{item.name}}</h5>
          <p class="text-gray-700 text-base mb-4">
            {{item.description}}
          </p>
          <p class="">{{item.price}}</p>
        </div>
    </div>
</div>

