<div class="flex justify-center mt-12 mb-12" >
    <div class="grid grid-cols-1 gap-x-12 gap-y-6 w-6/12"> 
      <div class="flex h-82 shadow-xl rounded-sm bg-white border-2 border-ipGrue hover:border-ipNight" *ngFor="let item of productList">
        <div class="h-full w-48 ">
          <a href="#!">
            <img class="h-fit w-full" src="../../../assets/marioKart8.jpg" alt=""/>
          </a>
        </div>
        <div class="w-full ">
          <div class="p-6">
            <h5 class="text-ipNight text-2xl font-medium hover:cursor-pointer hover:underline"> 
              {{item.name}}
            </h5>
            <p class="text-xl font-medium">
              €{{item.price}}
            </p>
            <div class="relative w-full">
              <button (click)="addProductToCart(item)" class=" absolute right-0 w-24 h-8 bg-ipRed-200 rounded-xl text-ipBaige hover:bg-ipRed-100">
                <p>Add To Cart</p>
              </button>
            </div>
          </div>
        </div>       
      </div>
  </div>
</div>

