<div class="flex items-center border-l-8 border-purple-800 bg-yellow-500 justify-between p-3" *ngIf="!bannerHidden">
    <p class="text-purple-700 font-mono ml-80 text-xl">
        {{ disclaimerText }}
    </p>
    <button class="bg-purple-500 mr-12 text-white rounded-full p-3 hover:bg-purple-700 hover:drop-shadow-lg" (click)="closeBanner()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
</div>
