<div class="grid place-items-center min-h-screen ">
    <div class="mt-5 text-xl text-ipNight" *ngIf="!cartItems.length">
        <p>NO ITEMS IN CART</p>
    </div>
    <div class="relative w-1/2 mt-6" *ngIf="cartItems.length">
        <div class="flex items-center justify-between bg-white h-48 w-full border-b-2 border-ipGrue" *ngFor="let cartItem of cartItems; let i = index">
            <app-cart-thumbnail [item]="cartItem"></app-cart-thumbnail>
            <button class=" pl-3.5 mr-16 w-16 h-16 text-white border-b-4 border-ipRed-50 bg-ipRed-200 rounded-xl text-ipBaige hover:bg-ipRed-100" (click)="removeItemFromCart(i)">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                  </svg>                  
            </button>
        </div>
        <div class="flex justify-between">
            <div>
                <app-promo-code (code)="giveDiscount($event)"></app-promo-code>
            </div>
            <div class="mt-4">
                <div class="flex space-x-1 absolute right-0 font-bold text-xl mr-5 text-ipNight">
                    <p>
                        Total:
                    </p>                   
                    <p [ngClass]="{promoDiscount}">
                        {{totalPrice | currency: 'EUR'}}
                    </p>

                </div>
                <div *ngIf="promoDiscount > 0" class="absolute right-0 font-bold text-xl mr-5 mt-7 text-ipNight">
                    {{discountPrice | currency: 'EUR'}}
                </div>
            </div>     
        </div>
        <div class="text-xl absolute right-0 mt-5">
            <button class="bg-ipGrue hover:bg-ipGrue2 text-white rounded-full p-4 w-48" (click)="checkoutItems()">Check Out</button>
        </div>
        
        
    </div>
</div>
